    /*Change font and icon Size*/
    @media (max-width: 345px){
      .icon{
        display: none;
      }
      .day-desc{
        display: none;
      }
      body{
        font-size: medium;
      }
      .icon{
        height: 40px;
        width: 40px;
      }
      .day-icon{
        height: 50px;
        width: 50px;
      }
      .hour
      {
        font-weight:100;
        font-size: 15px;
      }
      .day-desc{
        display: none;
      }
      .temp{
        font-weight:100;
        font-size: 15px;
      }

    }
    @media (min-width: 346px)
    {
      body{
        font-size: medium;
      }
      .icon{
        height: 40px;
        width: 40px;
      }
      .day-icon{
        height: 50px;
        width: 50px;
      }
      .hour
      {
        font-weight:100;
        font-size: 15px;
      }
      .temp{
        font-weight:100;
        font-size: 15px;
      }

    }
    @media (min-width: 476px)
    {
      body{
        font-size: large;
        background-color: wheat;
      }
      .icon{
        height: 75px;
        width: 75px;
      }
      .day-icon{
        height: 75px;
        width: 75px;
      }
      .hour
      {
        font-weight:600;
        font-size: x-large;
      }
      .temp{
        font-weight:100;
        font-size: 25px;
      }
    }
    @media (min-width: 960px)
    {
      body{
        font-size: x-large; 
      }
      .icon{
        height: 100px;
        width: 100px;
      }
      .day-icon{
        height: 100px;
        width: 100px;
      }
      .hour
      {
        font-weight:600;
        font-size: xx-large;
      }
    }
    /*///////////////////////////////////////////////////*/