    html{
      overflow-x: hidden;
    }
    
    body{
      background-image: linear-gradient(to right,#005aa7 , #00b4db);
    }
    .day-desc,.day-temp,.temp{
      white-space: nowrap;
    }
    .weather-for-days *
    {
      margin: 5px;
    }
    .btn{
      padding: 3px;
     
    }
    .button:hover{
      cursor: pointer;
      background-color: #fafafa;
    }

    .form-control {
        height: 40px;
        width: 300px;
    }

    .suggestion-container {
        position: relative;
    }

    .suggestions {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 5px;
        position: absolute;
        width: 300px;
        top: 40px;
        left: 0;
        z-index: 1;
    }

    .suggestions li {
        padding: 5px 10px;
        font-size: 18px;
        list-style: none;
        text-align: left;
    }
